@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap');

 h4 {
    font-family: 'Roboto Mono', monospace; 
    letter-spacing: 1.5px; 
    color: ivory;
}

.fa-facebook-f:before {
    color: #fff;
    font-size: 2.5em;
}
  
.fa-instagram:before {
    color: #fff;
    font-size: 2.5em;
    display: inline-flex 
}

.fa-whatsapp:before {
    color: #fff;
    font-size: 2.5em;
}

.container-home{
    background-image: url('imagenes/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100pv;
}

.sectionCeroHome {
    display: flex;
}

.socialButton {
    display: flex;
    flex-wrap: wrap;
}


.socialButton h4 {
    width: 100%;
}


.row {
    display: flex;
}

.col-1 {
  margin-top: 250px; 
  width: 50%; 
}   

.infoHome {
    text-align: center;
  
    
}

.infoHome h4 {
    text-align: center;
    width: 100%;
    display: flex;
    margin-left: 90px;
    margin-top: 30px;
}

.buttonAtrapalosYa {
    margin: 0 auto;
    width:160px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-weight: 550;
    font-size: 20px;
    color: #ffffff;
    background-color: #d63031;
    border-radius: 6px;
    border: 2px solid #d63031;
    margin-left: 180px;
}

.buttonAtrapalosYa:hover {
        opacity: 0.7;
    }


.buttonHome {
    /* margin-left: 130px;
    margin-top: 5px; */   
}

.download {
 text-align: center;
 display: flex;
 width: 50%;
 flex-wrap: wrap;
}

.download h4 {
    width: 100%;
}

.buttonDownload {
    /* display: flex; */
    width: 100%;
}

.shareFriends {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-around;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-right: 200px;
}

.shareFriends h4 {
    width: 100%;
    text-align: center;
}

.socialButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.socialButton img {
    width: 20px;
    height: 20px;
}

img.playStore{
    width: 160px;
    height: 60px;
    margin-right;
    margin: 0 auto;
}

img.appStore {
    width: 170px;
    height: 45px;
    margin: 0 auto;
}


/*Card Pokemon*/

    #seccion-card {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 14%;
    }
    
    .card {
        width: 45%;
        text-align: center;
        border-radius: 15px;
        color: orange;
        background: pink;
        margin-bottom: 2.5%;
        justify-content: space-between;
    }
    
    h2 {
        color: peru;
        font-size: 1em;
    }
    
    .buttonStyle {
        margin-block-end: 15%;
        width: 55%;
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        padding: .375rem .75rem;
        border-radius: .25rem;
        background-color: #22a6b3;
        color: #fff;
        transition: background-color .15s ease-in-out;
        letter-spacing: 1px;
    }
    
    .verPokemon {
        margin-block-end: 3%;
        display: block;
        margin: 0 auto;
        
    
        
    }
    
    @media only screen and (min-width: 767px)  {
        #dibujar {
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;            
        } 
        
        h2 {
            font-size: 1.5em;
        }
    
        .container {
          width: 100%;
          margin-top: 120px;
        }
    
        .card {
          width: 32%;
        }
      }
    
      /*boton prueba*/
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        font-family: Helvetica, Arial, sans-serif;
        background-color: #fff;
        color: #333;
      }
      .navbar {
        background-color: #000;
        color: #fff;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        padding: 0 30px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
      }
      .navbar a {
        text-decoration: none;
        color: #fff;
      }
      .navbar a.navbar-brand {
        float: left;
        height: inherit;
        line-height: inherit;
        padding: 0 30px;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
      }
      .navbar a.navbar-brand span {
        font-size: 28px;
        font-weight: 700;
      }
      .navbar ul {
        float: right;
        list-style: none;
        height: inherit;
        line-height: inherit;
        padding: 0 50px;
      }
      .navbar ul li {
        display: inline-block;
      }
      .navbar ul li a {
        display: block;
        text-align: center;
        min-width: 120px;
        padding: 0 30px;
      }
      .navbar ul li a:hover {
        background-color: rgba(255,255,255,0.15);
      }
      .navbar .navbar-toggler {
        display: none;
      }
    
      
      @media (max-width: 991px) {
        .navbar ul {
          padding: 0 10px;
        }
        .navbar ul li a {
          min-width: 100px;
          padding: 0 20px;
        }
      }
      
      @media (max-width: 767px) {
        .navbar {
          padding: 0;
        }
        .navbar ul {
          width: 100%;
          padding: 0;
          background-color: rgba(0,0,0,0.9);
          /* height: auto; */
          height: 100vh;
          max-height: 0;
          overflow: hidden;
          transition: all ease-in-out 0.3s;
        }
        .navbar ul.open {
          max-height: 100vh;
        }
        .navbar ul li {
          width: 100%;
          /* border-bottom: 1px solid rgba(255,255,255,0.3); */
        }
        .navbar ul li a {
          padding: 0;
        }
        .navbar .navbar-toggler {
          display: block;
          position: absolute;
          height: 40px;
          top: 20px;
          right: 20px;
          background-color: transparent;
          color: #fff;
          border: 3px solid #fff;
          /* border: none; */
          /* border-radius: 4px; */
          outline: none;
          padding: 0 5px;
          cursor: pointer;
        }
        .navbar .navbar-toggler span,
        .navbar .navbar-toggler span::before,
        .navbar .navbar-toggler span::after {
          display: block;
          content: '';
          background-color: #fff;
          height: 3px;
          width: 28px;
          border-radius: 4px;
          transition: all ease-in-out 0.3s;
        }
        .navbar .navbar-toggler span::before {
          transform: translateY(-8px);
        }
        .navbar .navbar-toggler span::after {
          transform: translateY(5px);
        }
        
        .navbar .navbar-toggler.open-navbar-toggler span {
          /* transform: rotate(90deg); */
          background-color: transparent;
          /* transform: scale(0.85) rotate(270deg); */
        }
        .navbar .navbar-toggler.open-navbar-toggler span::before {
          transform: translateY(0px) rotate(45deg);
          /* transform: translateY(0px) scale(0.75) rotate(45deg); */
        }
        .navbar .navbar-toggler.open-navbar-toggler span::after {
          transform: translateY(-3px) rotate(-45deg);
          /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
        }
      }